site_name: Thomas Saigre, PhD
site_author: Thomas Saigre

theme:
  name: material
  custom_dir: theme/overrides
  logo: assets/logo.svg
  favicon: assets/nœnœuil.png
  font:
    text: Inria Sans

  palette:
    # scheme: slate
    # primary: blue
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: red
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.top

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: false
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true

extra_css:
  - css/extra.css

copyright: Copyright &copy; 2025 Thomas Saigre

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/thomas-saigre
    - icon: fontawesome/brands/orcid
      link: https://orcid.org/0009-0009-5763-4956
    - icon: fontawesome/brands/google-scholar
      link: https://scholar.google.fr/citations?user=eXz9qmcAAAAJ&hl=fr&oi=ao
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/thomas-saigre-09722a1b7/

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Research:
      - Research: research.md
      - Talks: talks.md
  - Teaching: teaching.md
  - Miscellaneous: miscellaneous.md
  - CV: cv.pdf
