@font-face {
  font-family: unistra;
  src: url(ressources/font/UnistraA-Regular.ttf);
}


.page-content {
  /* font: 16px Arial, sans-serif; */
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* max-width: 600pt; */
  margin-left: 50pt;
  margin-right: 50pt;
  padding: 0px 10px;
  padding-left: 20%;
  padding-right: 20%;
  text-align:justify;
}

h1,h2{
  font-family:unistra, sans-serif;
  color: slategray;

  margin: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
}

hr{
  height: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid slategray;
}


.parallax {
  /* The image used */
  background-color:#318CE7;

  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  font: 16px Arial, sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}

.side-images{
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 300px;
  text-align: center
}

.coverartist{
    float:right;
    text-align: right;
    font: 8pt unistra;
}

.maj{
    float: left;
    text-align: left;
    font: 8pt unistra;
}


.bottom {
  /* The image used */
  background-color: #318CE7;

  /* Set a specific height */
  min-height: 50px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -20px;
  margin-left: -20px;
  margin-right: -20px;
}


.menu {
    display: flex;
    padding:0;
    background-color: "none";
    justify-content: space-around;
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu a {
    font-family: unistra, sans-serif;
    font-size: 24px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    display:block;                /* Transformation en block */
    min-width: 180px;             /* Largeur minimale des liens */
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */
    background-color: #318CE7;  /* Couleur d'arrière-plan */
    color: #ffffff;             /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #000000;  /* Ajout d'une bordure */
    border-radius: 10px;           /* Arrondis des bordures */
}